@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'first';
  src: url('/fonts/ripTAPE.ttf') format('truetype');
  font-weight: 800;
  /* Adjust as needed */
  font-style: oblique;
  /* Adjust as needed */
}

@font-face {
  font-family: 'second';
  src: url('/fonts/Oregano-Regular.ttf') format('truetype');
  font-weight: normal;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}